<div class="head-menu">
    <select @onchange="ChangeColor">
        <option value="black" style="background-color:black">Black</option>
        <option value="red" style="background-color:red">Red</option>
        <option value="blue" style="background-color:blue">Blue</option>
        <option value="green" style="background-color:green">Green</option>
        <option value="purple" style="background-color:purple">Purple</option>
    </select>

    <label>
        Thickness:
        <input type="number" min="1" max="10" @onchange="ChangeWidth" @bind-value="@selectedWidth" @bind-value:event="oninput" />
    </label>
    <label>
        Text:
        <input @bind-value="@_textInput" @onchange="ChangeText" @bind-value:event="oninput" />
    </label>
    <select @onchange="ChangeSelectOption" @bind-value="_selectOption" @bind-value:event="oninput" class="opts">
        <option value="">Dbl-click options</option>
        <option value="Text">Text</option>
        <option value="Oval">Oval</option>
        <option value="Rectangle">Rectangle</option>
        <option value="Sticky">Sticky Note</option>
    </select>
    <button @onclick="ToggleEraseMode">
        <img src="@ButtonIcon" alt="Button icon" width="30" height="30" />
        <span> @ButtonLabel</span>
    </button>
    <button @onclick="ToggleLineMode">
        <img src="@LineButtonIcon" alt="line button icon" width="30" height="30" />
        <span>@LineButtonLabel</span>
    </button>
    <button class="show-modal" @onclick="ShowCreateStickyNote">Sticky Note</button>
    <button @onclick="@SaveAsImageInvoke">
        <img src="icons/save-32.png" alt="Save icon" width="30" height="30" />
        <span>Save</span>
    </button>
    <button @onclick="@ClearInvoke">
        <img src="icons/delete-32.png" alt="Delete icon" width="30" height="30" />
        <span>Clear</span>
    </button>
    <button @onclick="UndoInvoke">
        <img src="icons/undo-32.png" alt="Undo icon" width="30" height="30" />
    </button>
    <button @onclick="RedoInvoke">
        <img src="icons/redo-32.png" alt="Redo icon" width="30" height="30" />
    </button>
    <button style="right:0px" @onclick="@StartNewInvoke">New</button>
</div>